*{
    margin: 500;
}
h1{
    color: rgb(43, 19, 43);
    margin-top: 0;
    text-align:center;
    font-size: 30px;
    font-style: normal ;
  
  }
  .Image img{
    height: 100px;
  width: 1700px;
  display: block;
  border: 10px solid rgba(14, 1, 14, 0.918);
  border-radius: 30px;
  margin-top: 10;
  margin-left: 100;
  margin-right: 10;
  margin-bottom: 10;
}
.Image1 img {
    height: 100px;
    width: 1700px;
    display: block; 
    border: 10px solid rgba(14, 1, 14, 0.918);
    border-radius: 30px;
    margin-top: 10;
    margin-left: 10;
    margin-right: 100;
    margin-bottom: 10;
  }
  canvas{
    background: rgb(168, 149, 255);
    display: block;
     
  }
  .change-case {
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(20, 1, 20);
    text-align:center;
    font-size: 55px;
    font-style: normal ;
}